
<div class="background">
    <div class="outerbox">
        <div class="innerbox">
            <div class="loginbox">
                <div class="form-container">                        
                    <div class="form-field">

                        <h1> Sign In </h1>

                        <form class="sign-in-form" [formGroup]="loginform" >
                            <div class="username">
                                <span class="p-float-label">
                                    <input pInputText id="username" formControlName="username" />
                                    <label for="username">Username</label>
                                </span>
                            </div>
                                
                            <div class="password">
                                <span class="p-float-label">
                                    <p-password formControlName="password" [feedback]="false" [toggleMask]="true"></p-password>
                                    <label for="password">Password</label>
                                </span>
                            </div>

                            <div class="inline-container">
                                <p-checkbox class="checkbox" name="groupname" value="true" label="Remember Me" formControlName="rememberMe"></p-checkbox>
                                <p class="routelink"><a routerLink="/auth/signup">Don't have an account?</a></p>
                            </div>

                            <p-button class="button" label="Login"></p-button>
                        </form>
                    </div>

                    <figure><img class="image" src="assets/public/avatar.jpg" alt="Image"></figure> 
                        
                </div>                    
            </div>
        </div>
    </div>
</div>

