<div class="nav-main hide" *ngIf="authService.authState| async as authContext">
  <div class="nav-menu-icon">
    <ul class="menu-item-list">
      <li class="menu-item"  routerLinkActive="active">
        <a href="javascript:void(0);" routerLink="/dashboard" attr-menu="dashboard">
          <span>Tổng quan</span>
        </a>
      </li>
      <li class="menu-item"  routerLinkActive="active">
        <a href="javascript:void(0);" routerLink="/products" attr-menu="products">
          <span>Sản phẩm</span>
        </a>
      </li>
    </ul>
  </div>
</div>
